{% extends "hello/layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'hello/site.css' %}"/>
<h1 class="base-h1"><u>Welcome to our website! We hope that you find an energy drink that interests you!</u></h1>
<p> Click on the drink list tab to see various energy drinks. If you would like to know more about a brand click on the drink information tab to see things like the price, design, and description. </p>
{% endblock %}